input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.message-larger{
  color: #a94442;
  background-color:#EBCCCC ;
  width: 15%;
  margin-left: 12%;
  margin-top: -3%;
  padding-left: 1%;
}
.message-negative{
  color: #a94442;
  background-color:#EBCCCC ;
  width: 15%;
  margin-left: 12%;
  margin-top: -3%;
  padding-left: 1%;
}

